<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Insert title here</title>
</head>
<body>
        <div class="content">
            #parse("/common/default_top.vm")
            <div>
                <div>
                    $screen_content
                </div>
            </div>
            #parse("common/default_footer.vm")
        </div>
</body>
</html>